<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AnnotationTest">
    <classes>
      <class name="WebPracticeDropdown.Testing1"/>
      <class name="WebPracticeDropdown.Testing2"/>
    </classes>
  </test> <!-- AnnotationTest -->
</suite> <!-- Suite -->
